<!-- main.hbs--> <!-- foundation for the template builder -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rx Maestro</title>

    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

    {{{body}}}

</body>

<footer>
    <p>&copy; 2023 Hannah Kim, Alexander Freddo</p>

</footer>
</html>