{{!-- 
Citation for this file:
Date: 11/13/2023
Based on Node.js starter code for this course
The individual elements and tables have been customized and modified for our project.
Source of starter code: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<!-- DrugInteractionSources.hbs -->

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Drug Interaction Sources</h1>

{{!-- Create a table --}}
<table border="1" cellpadding="5" id="drug-interaction-source-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}        <!-- key name for the current iteration step -->
            </th>
            {{/each}}
            
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.sourceName}}</td>
            <td>{{this.url}}</td>
            
            <td><button onclick="deleteDrugInteractionSource('{{this.sourceName}}')">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./delete_drugInteractionSource.js" type="application/javascript"></script>

{{!-- Form to add a record to the table  --}}
<h2>Add a Source</h2>
<p>To add a new source, please enter the information below and click 'Submit'!</p>
<form id="add-drug-interaction-source-form-ajax">
    <label for="input-sourceName-ADD">Source Name: </label>
    <input type="text" name="input-sourceName-ADD" id="input-sourceName-ADD" required>
    
    <label for="input-url-ADD">URL: </label>
    <input type="text" name="input-url-ADD" id="input-url-ADD" required>

    <button type="submit" id ="add-button">Submit</button>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./add_DrugInteractionSources.js" type="application/javascript"></script>