<html>



<head>
    <title>Drugs</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Drugs</h1>
    [ 
    <a href="/">Home</a>
    |
    <a href="patients">Patients</a>
    | 
    <a href="patient-prescriptions">Patient Prescriptions</a>
    |
    <a href="drug-interaction-sources">Drug Interactions</a>
    |
    <a href="drugs">Drugs</a>
    |
    <a href="manufacturers">Manufacturers</a>
    |
    <a href="drug-interaction-sources">Drug Interaction Sources</a>
    ]

    <div id="browse" style="display: block;">
        <p>
            <strong>Browse Drugs</strong>
        </p>
        <table border="1" cellpadding="5">
            <tbody>
                <tr>
                    <th>
                        <a href="#" onclick="newDrug()">Add</a>
                    </th>
                    
                    <th>drugID</th>
                    <th>drugName</th>
                    <th>manufacturerID</th>
                    
                </tr>
                <tr>
                    <td></td>
                    <td>153008</td>
                    <td>Ibuprofen</td>
                    <td>1</td>
                </tr>
                <tr>
                   <td></td>
                    <td>1546056</td>
                    <td>Furosemide</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td></td>
                    <td>7646</td>
                    <td>Omeprazole</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3827</td>
                    <td>Enalapril</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>

    <!-- add drug -->
    <div id="insert" style="display: block;">
        <form action="POST" id="addDrug">
            <legend>
                <strong>Add Drug</strong>
            </legend>
            <fieldset>
                <label for="drugID">drugID:</label>
                <input type="text">
                <label for="drugName">drugName:</label>
                <input type="text">
                <label for="manufacturerID">Manufacturer ID</label>
                <input type="text">
                
            </fieldset>
            <input type="submit" class="btn" id="addDrug" value="Add Drug">
            <input type="button" class="btn" onclick="browseDrug()" value="Cancel">
        </form>
    </div>
    
    
</body>

</html>