<html>



<head>
    <title>Drug Interaction Sources</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Drug Interaction Sources</h1>
    [ 
    <a href="/">Home</a>
    |
    <a href="patients">Patients</a>
    | 
    <a href="patient-prescriptions">Patient Prescriptions</a>
    |
    <a href="drug-interaction-sources">Drug Interactions</a>
    |
    <a href="drugs">Drugs</a>
    |
    <a href="manufacturers">Manufacturers</a>
    |
    <a href="drug-interaction-sources">Drug Interaction Sources</a>
    ]

    <div id="browse" style="display: block;">
        <p>
            <strong>Browse Sources</strong>
        </p>
        <table border="1" cellpadding="5">
            <tbody>
                <tr>
                    <th>
                        <a href="#" onclick="newDrug()">Add</a>
                    </th>
                    
                    <th>sourceName</th>
                    <th>url</th>
                   
                </tr>
                <tr>
                    <td></td>
                    <td>ONCHigh</td>
                    <td>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3422823/

                    </td>
                   
                </tr>
                <tr>
                   <td></td>
                    <td>DrugBank</td>
                    <td>https://go.drugbank.com/
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>

    <!-- add source -->
    <div id="insert" style="display: block;">
        <form action="POST" id="addSource">
            <legend>
                <strong>Add Source</strong>
            </legend>
            <fieldset>
                <label for="sourceName">sourceName:</label>
                <input type="text">
                <label for="url">url:</label>
                <input type="text">
                
            </fieldset>
            <input type="submit" class="btn" id="addSource" value="Add Source">
            <input type="button" class="btn" onclick="browseSource()" value="Cancel">
        </form>
    </div>
    



</body>

</html>