<!-- Patients.hbs -->

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Patients</h1>

{{!-- Form to add a record to the table  --}}
<h2>Add a Patient</h2>
<p>To add a new prescription, please enter the information below and click 'Submit'!</p>
<form id="add-patient-form-ajax">
    <label for="input-patientID-ADD">Patient ID: </label>
    <input type="text" name="input-patientID-ADD" id="input-patientID-ADD" required>
    <label for="input-patientName-ADD">Patient Name: </label>
    <input type="text" name="input-patientName-ADD" id="input-patientName-ADD" required>
    
    <label for="input-phoneNumber-ADD">Phone Number: </label>
    <input type="text" name="input-phoneNumber-ADD" id="input-phoneNumber-ADD" required>
    <button type="submit" id ="add-button">Submit</button>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./add_Patients.js" type="application/javascript"></script>



{{!-- Create a table --}}
<table border="1" cellpadding="5" id="patient-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}              <!-- helpers allow you to iterate thru objects and arrays and perform other specialized tasks -->
            <th>
                {{@key}}        <!-- key name for the current iteration step -->
            </th>
            {{/each}}
            
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, dosage, drugid, patientid, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.patientID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.phoneNumber}}</td>
            
        </tr>
        {{/each}}
    </tbody>
</table>

