<head>
    <title>Rx Maestro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Rx Maestro</h1>
    [ 
    <a href="index.hbs">Home</a>
    |
    <a href="Patients.hbs">Patients</a>
    | 
    <a href="PatientPrescriptions.hbs">Patient Prescriptions</a>
    |
    <a href="DrugsInteractions.hbs">Drug Interactions</a>
    |
    <a href="Drugs.hbs">Drugs</a>
    |
    <a href="Manufacturers.hbs">Manufacturers</a>
    |
    <a href="DrugInteractionSources.hbs">Drug Interaction Sources</a>
    ]

    <h2>About</h2>
    <p>Rx Maestro is a tool to cross-check possible drug interactions for patients with allergies or medications the patient is currently taking, if they are taking any. It is meant to be a one stop shop for pharmacists or patients to quickly see if any newly prescribed medication will interact with any of their currently prescribed medications. To achieve this goal, Rx Maestro taps into the publicly available Drug Interaction API maintained by the National Library of Medicine that houses information on over 1,000 different drug interactions.
    </p>
    
    <p>&copy; Hannah Kim, Alexander Freddo</p>
</body>
